<div class="atendimento-container">
  <h1 class="titulo">Central de Atendimento</h1>
  <p class="subtitulo">Hey, garota! Precisa de ajuda? 💬</p>
  <p class="texto">Nosso suporte é feito bem rapidinho!!</p>
  <p class="texto">
    As garotas do time estão te esperando no <strong>WhatsApp</strong><br>
    <span class="horario">De segunda a sexta das 8:30 às 17:30</span>
  </p>

  <div class="contato-box">
    <h2>★ Entre em contato</h2>
    <ul>
      <li><strong>WhatsApp:</strong> 
        <a href="https://wa.me/5511956790214" target="_blank">(11) 95679-0214</a>
      </li>
      <li><strong>Email:</strong> 
        <a [href]="'mailto:administrativo' + '&#64;' + 'alunossenacsp.com.br'">
          administrativo&#64;alunossenacsp.com.br
        </a>
      </li>
      <li><strong>Endereço:</strong> 
        Av. Eng. Eusébio Stevaux, 823 - Santo Amaro, São Paulo - SP, 04696-000
      </li>
    </ul>
  </div>
</div>
