<div class="apresentacao-container">
  <h1 class="titulo-apresentacao">Bem-vindo ao Site</h1>

  <p class="texto-apresentacao">
    Nossa missão é valorizar sua beleza com produtos selecionados, de alta qualidade e preços acessíveis.
    Aqui você encontra uma variedade incrível de itens para cuidados pessoais, maquiagem, 
    perfumes e muito mais – tudo pensado para realçar o seu estilo e bem-estar.
    Com dedicação, bom gosto e atenção aos detalhes, criamos uma experiência de compra prática, segura e encantadora. 
    Sinta-se em casa para explorar cada categoria e descobrir novidades que combinam com você!
  </p>

  <button class="botao-produtos" (click)="irParaProdutos()">Ver todos os produtos</button>
</div>
